<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SM - Boilerplate</title>
  <meta name="description" content="Todo List, Work, TODO, SM, BabyManisha">
  <meta name="author" content="BabyManisha.Sunkara">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
