<%- include("header") -%>

  <div class="box" id="heading">
    <h1> Todos </h1>
  </div>

  <div class="box todo-list">

    <%  todos.forEach(function(todo){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="id" value="<%=todo._id%>" onChange="this.form.submit()">
          <p><%=todo.todo%></p>
        </div>
      </form>
    <%  }) %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Todo" autocomplete="off" required>
      <button type="submit" name="list">+</button>
    </form>

  </div>

<%- include("footer") -%>
