<%- include("header") -%>

  <div class="container">
    <h1> Welcome to Node, Expreess Boilerplate </h1>
    <h2> <%= msg %> </h2>

    <section>
      <form action="/" method="post">
        <input type="text" name="name" id="name" placeholder="Enter your message...." required>
        <button type="submit">Submit</button>
      </form>
    </section>

  </div>

<%- include("footer") -%>
